<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<connectionStrings>
		<clear />
		<add name="MyConnection"
		connectionString="Server=tcp:formapp-azuredbserver.database.windows.net,1433;Initial Catalog=FormApp_Azure_db;Persist Security Info=False;User ID=gokhanzengin;Password=Siemens1234_formapp.;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlCleint"/>
	</connectionStrings>
</configuration>